.oculto {
  position: absolute !important;
  clip-path: var(--poligono-oculto);
  border: 0;
  height: auto;
  margin: 0;
  overflow: hidden;
  padding: 0;
  white-space: nowrap;
  width: var(--spacer-1xs);
}

body {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr auto;
}

header {
  grid-row: 1 / 2;
}

main {
  grid-row: 2 / 3;
}

footer {
  grid-row-start: 3;
}
